.container {
    background: #2e2e2e;
    color: #c6c6c6;
    border-radius: 5px;
    margin: 2px 0px;
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow-x: hidden;
    overflow-y: hidden;

    height: auto;
}

.container.remove {
    transition: all 0.5s ease;
    background: red;
    transform: translateX(-1000px);
    opacity: 0;
}

.container ::-webkit-scrollbar {
    display: none;
}

.container > .done,
.container > .delete {
    flex: 0 0;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container > .done:hover,
.container > .delete:hover {
    transition: all 0.1s ease;
    color: rgb(161, 161, 161);
    transform: scale(0.95);
}

.container > .done {
}

.container > .content {
    flex: 1 1;
    margin: 0 10px;

    display: flex;
    flex-direction: column;
}

.container > .delete {
    font-size: 20px;
}


.container > .content > .top{
display: flex;
justify-content: space-between;
}



