.content {
    background: #2e2e2e;
    color: #c6c6c6;
    border-radius: 5px;
    height: 50px;
    margin: 2px 0px;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
}

.content ::-webkit-scrollbar {
    display: none;
}

.content > * {
}
