.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background:  linear-gradient(35deg, rgb(6, 7, 20), rgb(52, 52, 52));
}

.header {
    font-size: 40px;
    margin-bottom: 40px;
    color: white;
    user-select: none;
    cursor: pointer;
}

.page .authorize {
    flex: 0 1 500px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 0 2px 1px #a9a9a9;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page .common-error {
}

.page .input-container {
    margin: 10px 0;
}

.page .input-container .input {
    border: solid 1px transparent;
    color: #989898;
    background: #404041;
    font-size: 20px;
    padding-left: 20px;
}

.page .input-container .input:focus {
    background: #343434;
    color: #c5c5c5;
    border-color: #7a7a7a;
    transition: all 0.3s ease;
}

.page .btn-login-container,
.page .btn-register-container {
    margin: 10px 0;
}

.page .btn-login-container .btn-login {
    color: #d8d8d8;
    background: #0c34ae;
    opacity: 0.95;
}

.page .btn-login-container .btn-login > i {
    animation: loading infinite 0.4s linear;
    font-size: 28px;
}

@keyframes loading {
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page .btn-login-container:hover .btn-login {
    border-color: #3e3e3e;
    color: white;
    animation: gradient 1s;
    opacity: 1;
}

@keyframes gradient {
    0% {
        opacity: 0.95;
    }
    100% {
        opacity: 1;
    }
}

.page .btn-register-container .btn-register {
    color: #1a3791;
    background: transparent;
    box-shadow: 0 0 1px 1.5px #1a3791;
}

.page .btn-register-container:hover .btn-register {
    box-shadow: 0 0 1px 1.5px #1e45b7;
    color: #1e45b7;
}
