.checkbox {
    position: relative;
    width: 19px;
    height: 19px;
    border: 1.8px solid #c6c6c6;

    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s ease;
}

.checkbox > .active {
    position: absolute;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 25%;
    background: #c6c6c6;

    border-radius: 50%;
    transition: all 0.5s ease;
}

.checkbox:hover {
    border: 1.8px solid rgb(161, 161, 161);
    transition: all 0.2s ease;
    transform: scale(0.95);
}

.checkbox:hover > .active {
    background: rgb(161, 161, 161);
    transition: all 0.2s ease;
    transform: scale(1.4);
}
