@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins&family=Roboto&display=swap");

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container > button {
    width: 280px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    min-height: 50px;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
