@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins&family=Roboto&display=swap");

.container {
}

.container > button {
    width: 280px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    min-height: 50px;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container > button > i {
    animation: loading infinite 0.4s linear;
    font-size: 28px;
}

@keyframes loading {
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
