@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins&family=Roboto&display=swap");

.container {
}

.container > button {
    width: 280px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    min-height: 50px;
    font-family: "Poppins", sans-serif;
    transition: all 1s ease;
}

.container > button.white {
    background: white;
    color: rgb(59, 59, 59);
    box-shadow: 0 0 3px 1px rgba(168, 168, 168, 0.9);
}

.container > button.blue {
    background: #4d7edf;
    color: white;
}

.container > button:hover {
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease;
    font-size: 17px;
}

.container > button.white:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.9);
}

.container > button.blue:hover {
    background: #4067b7;
}
